body {
    background-image: url("./backgroundimagecontact.jpg");
    background-size: cover;
}
.main
{
    margin-top: 250px;
    width: 1000px;
    margin-left: 500px;
}
.headingcontact
{
    margin-left: 55px;
     font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  color: #ffffff;
text-shadow: 0 0 10px #38bdf8, 0 0 20px #9333ea;
}
.emailicon1
{
    margin-left: 28px;
    margin-top: 20px;
}
.headingcontact2
{
     margin-left: 34px;
     font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
}
.headingcontact1
{
    font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-size: 45px;
  margin-left: 55px;
  text-shadow: 0 0 10px #38bdf8, 0 0 20px #9333ea;
}
.emailid
{
    margin-left: -1px;
}
.phonename
{
    margin-left: 65px;
}
@media (max-width :600px)
{
    .main
{
    margin-left: 50px;
    margin-top: -10px;
    width: 1000px;
}
}